html
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title DHIS2 Middleware Apps || Transaction Mode Setting
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
      link(rel='stylesheet', href='/stylesheets/style.css')    
      script(type='text/javascript' src='/javascripts/jquery-3.2.1.min.js')    
      script(type='text/javascript' src='/javascripts/bootstrap.min.js')  
        
    body
        div
        include ./header.pug 
        include ./data-sync-mode-form.pug        
    
link(rel='stylesheet', href='/javascripts/sweetalert/sweetalert.css')
script(type='text/javascript' src='/javascripts/sweetalert/sweetalert.min.js')     
script(type='text/javascript' src='/javascripts/custom.js')     
  
