.header-area
	.container-fulid.header-top-area
		.logo-area.col-md-5.col-xs-12.col-lg-5.col-sm-4.float-lg-left
			a.logout-text(href='/dashboard')
				h3.page-title
					| DHIS2 Middleware Apps
		.logo-area.col-md-7.col-xs-12.col-lg-7.col-sm-7.float-lg-right
			ul.nav.navbar-nav.navbar-right
				li
					a.dropdown-hover(href='/dashboard')
						span(style='color:white;')
							img.image-responsive-menu(src='/images/dashboard.png', alt='')
							|   Dashboard
				li.hover
					a.dropdown-hover(hre='#')
						span(style='color:white;')
							img.image-responsive-menu(src='/images/modules.png', alt='')
							| Apps
					ul.hover-menu
						.caret-up-border
						.caret-up-background
						.hover-menu-content(style='overflow: hidden;')
							li
								a(href='blank-fields-app', type='button')
									img.sub-image(src='/images/blank-fields-app.png', alt='')
									| DHIS2 Facility Blank Fields 	
							li
								a(href='multiple-dhis-interoperability', type='button')
									img.sub-image(src='/images/multiple-dhis-interoperability.png', alt='')
									| Multiple DHIS Interoperability		
									
				li.hover
					a.dropdown-hover(hre='#')
						span(style='color:white;')
							img.image-responsive-menu(src='/images/reports.png', alt='')
							|   Reports
					ul.hover-menu
						.caret-up-border
						.caret-up-background
						.hover-menu-content(style='overflow: hidden;')
							li
								a(href='system-log', type='button')
									img.sub-image(src='/images/syslog.png', alt='')
									| Schedular Sync

				li.hover
					a.dropdown-hover(hre='#')
						span(style='color:white;')
							img.image-responsive-menu(src='/images/general-settings.png', alt='')
							|  Settings
					ul.hover-menu
						.caret-up-border
						.caret-up-background
						.hover-menu-content(style='overflow: hidden;')
							
							li
								a(href='queues', type='button')
									img.sub-image(src='/images/queues.png', alt='Queues')
									| Queues
							li
								a(href='middleware-channel-setup', type='button')
									img.sub-image(src='/images/api-settings.png', alt='Channels')
									| Channels
							li
								a(href='translator-elements-mapping', type='button')
									img.sub-image(src='/images/translator-elements-mapping.jpg', alt='Channels')
									| Source Mapping		
																	
							li
								a(href='schedular-setup', type='button')
									img.sub-image(src='/images/cron-job.png', alt='Schedular Sync')
									| Schedular Setup
							li
								a(href='exchange-mode', type='button')
									img.sub-image(src='/images/data-sync-mode.png', alt='Data Sync Mode')
									| Exchange Mode
							li
								a(href='rabbitmq-setup', type='button')
									img.sub-image(src='/images/rabbitmq.png', alt='Data Sync Mode')
									| RabbitMQ Setup							
						 				                       			
				li.hover
					a.dropdown-hover(hre='#')
						span(style='color:white;')
							img.image-responsive-menu(src='/images/admin-profile.ico', alt='')
							|  Profile
					ul.hover-menu
						.caret-up-border
						.caret-up-background
						.hover-menu-content(style='overflow: hidden;')
							li
								a(href='#', type='button', data-toggle='modal', data-target='#settingsSystemInterface')
									img.sub-image(src='/images/password-change.png', alt='')
									| 				                        Settings
							li
								a(href='/logout')
									img.sub-image(src='/images/logout.png', alt='')
									| 				                        Logout
							li
								a(href='#', type='button', data-toggle='modal', data-target='#help')
									img.sub-image(src='/images/support.png', alt='')
									| 				                       Support

